<!doctype html>
<html>
  <head>
    <title>Instagram Twitter Preview</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link  rel='stylesheet' href='style.css' />
    <link rel="icon"href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


  <meta property="og:url" content="https://instagram.mikemjharris.com" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mikemjharris" />
  <meta name="twitter:title" content="Instagram Twitter Preview" />
  <meta property="og:title" content="Instagram Twitter Preview" />
  <meta name="twitter:description" content="Share any instagram post on twitter with a preview image and description" />
  <meta name="og:description" content="Share any instagram post on twitter with a preview image and description. No logging in. Just copy and paste." />
    <meta name="twitter:image" content="https://instagram.mikemjharris.com/preview.png" />
    <meta property="og:image" content="https://instagram.mikemjharris.com/preview.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    </script>
  </head>
  <body>
    <section>
      <h1>Instagram Twitter Preview</h1>
      <h2>Create a twitter preview card for any instagram post.</h2>
      <ol>
        <li>Find a public image in instagram. Click on the image and then copy the url (something like https://www.instagram.com/p/B5F0TjuHAsn/) into the box below. </li>

        <li>Click the button to create a shareable link</li>
        <li>Paste link into tweet</li>
      </ol>



      <form id="input">
        <input id="inputLink" placeholder="e.g. https://www.instagram.com/p/B5F0TjuHAsn/" type="text" />
        <br>
        <button id="copy">Click to create shareable preview link</button>
      </div>

      <div id="output">
        <input id="url"<div class="output">
        <div id="copied">
          <p>Link copied to clipboard! Now go paste it in <a href="https://twitter.com" target="_blank">twitter</a></p>
        </div>
          <div class="input-group">
            <span class="input-group-button">
              <button id="copyLink" type="button" data-clipboard-demo="" data-clipboard-target="#url">
                Copy to clipboard
              </button>
            </span>
          </div>
          <h4>Image and description</h4>
          <img id="image" src=""/>
          <p id="title"></p>
        </div>
    </section>
    <script src="bundle.js"></script>
  </body>
</html>
