* {
  font-family: 'Raleway', sans-serif;
}

body{
  padding: 1em;
}

h1 {
  color: hsla(120, 60, 60, 1);
}

section {
  min-height: 80vh;
}

input, button {
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
}

input {
  width: 100%;
  max-width: 600px;
}

button {
  cursor: pointer;
}

#image {
  width: 600px;
  height: 314px;
}

